 {% include 'main/header.html.twig' %}

  <div class="col-md-9 col-lg-10 main">
  <!--MAIN -->
              <div class="card-block">
                <h4 class="card-title">Wydatki stałe <a href="/createfixed_expenses">+</a></h4>
                <p class="card-text">  
                <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Opis</th>
      <th scope="col">Kategoria</th>
      <th scope="col">Miejsce</th>
      <th scope="col">Portfel</th>
      <th scope="col">Kwota</th>
      <th scope="col">Akcja</th>
    </tr>
  </thead>
  <tbody>
{% for fixed_expenses in fixed_expenses %}
        <tr>
        <th scope="row">{{fixed_expenses.id}}</th>
        <td>{{fixed_expenses.name}}</td>
        <td>{{fixed_expenses.description}}</td>
        <td>{{fixed_expenses.category.name}}</td>
        <td>{{fixed_expenses.placeexpenses.name}}</td>
        <td>{{fixed_expenses.wallets.name}}</td>
        <td>{{fixed_expenses.amount}}</td>
            <td><a href="/editfixed_expenses/{{fixed_expenses.id}}">Edytuj</a> <a href="/deletefixed_expenses/{{fixed_expenses.id}}">Usuń</a></td>
        </tr>
{% endfor %}
  </tbody>
</table></p>
              </div>    

  </div>
  {% include 'main/footer.html.twig' %}