 {% include 'main/header.html.twig' %}

  <div class="col-md-9 col-lg-10 main">
  <!--MAIN -->
      <div class="card-block">
          <h4 class="card-title">Portfele <a href="/create_wallet">+</a></h4>
          <p class="card-text">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name List</th>
      <th scope="col">Numer konta</th>
        <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
{% for wallet in wallets %}
        <tr>
        <th scope="row">{{wallet.id}}</th>
        <td>{{wallet.name}}</td>
        <td>{{wallet.getBankAccount}}</td>
            <td><a href="/edit_wallet/{{ wallet.id }}">Edytuj</a><a href="/delete_wallet/{{ wallet.id }}"> Usuń</a></td>
        </tr>
{% endfor %}
  </tbody>
</table></p>
      </div>
  </div>
  {% include 'main/footer.html.twig' %}